<!-- Belongs at: /_includes/navigation.html -->

<!-- This finds the current page so it can be highlighted. -->

{% for entry in site.data.navigation %}
{% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}
    {% if fullurl == page.url %}
        {% assign current_page = fullurl %}
        {% break %}
    {% elsif page.url contains fullurl %}
        {% assign current_page = fullurl %}
    {% endif %}
{% endfor %}

<!-- Then we build the nav bar. -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark text-light">
    <a class="navbar-brand align-middle" href="/">
        <img src="/assets/images/savo_logo bow_and_arrow.svg" alt="Savolaisen osakunnan tunnus" />
        Savolainen osakunta
    </a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mx-auto align-items-center">
        {% for entry in site.data.navigation %}
            {% if entry.url contains current_page %}
                {% assign current = ' active' %}
            {% else %}
                {% assign current = '' %}
            {% endif %}
            {% assign sublinks = entry.sublinks %}
            <li class="nav-item {{ current }}">
                <a class="nav-link" href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a>
            </li>
            {% endfor %}
        </ul>
        <div class="nav-item social-media align-middle me-4">
            <a href="https://www.facebook.com/savolaiset/" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com/savolainenosakunta" class="text-reset">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
    </div>
</nav>
