<!-- Belongs at: /_includes/navigation.html -->

<!-- This finds the current page so it can be highlighted. -->

{% for entry in site.data.navigation %}
{% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}
    {% if fullurl == page.url %}
        {% assign current_page = fullurl %}
        {% break %}
    {% elsif page.url contains fullurl %}
        {% assign current_page = fullurl %}
    {% endif %}
{% endfor %}

<!-- Then we build the nav bar. -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark text-light">
    <label for="menu-toggle" class="navbar-toggler" type="button" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </label>
    <a class="navbar-brand" href="/">
        <img src="/assets/images/savo_logo bow_and_arrow.svg" alt="Savolaisen osakunnan tunnus" />
        Savolainen osakunta
    </a>
    <input type="checkbox" id="menu-toggle" class="hidden" />
    <div class="expand navbar-nav navbar-expand" role="navigation">
        <ul class="nav text-light">
        {% for entry in site.data.navigation %}
            {% if entry.url contains current_page %}
                {% assign current = ' active' %}
            {% else %}
                {% assign current = '' %}
            {% endif %}
            {% assign sublinks = entry.sublinks %}
            <li class="nav-item {{ current }}">
                <a class="nav-link" href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a>
            </li>
            {% endfor %}
            <li class="nav-item social-media col-auto">
                <a href="https://www.facebook.com/savolaiset/" class="me-2 text-reset" aria-label="Facebook.com – Savolainen osakunta">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://www.instagram.com/savolainenosakunta" class="text-reset me-2" aria-label="Instagram – Savolainen osakunta">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>
