
nav {
  #navbarNav {
    width: 100%;
    max-width: 800px;
    margin: auto;
  }
  padding-left: .5rem;
  img {
    height: $nav-link-height;
    max-width: 15%;
  }
  .navbar-brand {
    margin: auto;
    padding-right: 3rem;
    max-width: 80vw;

    @media screen and (min-width: 768px) {
      margin-right: .5rem;
    }
  }
  .nav-item {
    margin-right: .2rem;
  }
  .nav-link {
    color: rgba(255,255,255,0.75);
    padding-right: .3rem;
    padding-left: .3rem;
    text-align: left;
  }
  .navbar-toggler {
    border: none;
    padding: .25rem .5rem;
  }
  .social-media {
    margin-top: auto;
    margin-bottom: auto;
    flex-grow: 10;
    margin-right: 20px;
    &.nav-item {
      text-align: end;
    }
  }
}

@media screen and (max-width: 768px) {
  #menu-toggle:not(:checked) + .navbar-nav {
    display: none;
  }
}
