@import "../node_modules/bootstrap/scss/bootstrap";

html {
  background-color: black;
}

body {
  background-color: white;
  
  .serif {
    font-family: 'Times New Roman', Times, serif;
  }
}

footer {
  background-color: black;
  color: white;

}

.social-media {
  a {
    text-decoration: none;
  }
}
